@page "/"


<h1>Gnome Village</h1>

<hr />

<h2>Patterns</h2>

<ul>
    <li>
        Hexagonal Architecture
    </li>
    <li>
        Command and Query Responsability Segregation (CQRS)
    </li>
    <li>
        Applied Solid Principles: SRP, OCP, DIP
    </li>
    <li>
        Applied Domain Driven Design patterns : Bounded Context, Layered layers, Rich entities, Value objects, Entity Factories, Services, Repositories
    </li>
    <li>
        async / await
    </li>
</ul>

<h2>Framework Platform</h2>
<ul>
    <li>
        Net Core 3.0
    </li>
    <li>
        Asp net core 3.0
    </li>
</ul>

<h2>Languages</h2>
<ul>
    <li>
        C#
    </li>
    <li>
        Html
    </li>
    <li>
        Css
    </li>
</ul>

<h2>Libraries & Technologies</h2>
<ul>
    <li>
        Blazor
    </li>
    <li>
        Bootstrap
    </li>
    <li>
        MediaTR
    </li>
    <li>
        Automapper
    </li>
    <li>
        Entity Framework Core
    </li>
    <li>
        Sql Server
    </li>
    <li>
        Sql Serilog
    </li>
</ul>